/*COLORS*/
/*HEADER*/
/*BOX-SHADOWS*/
/*CONSTANTS*/
/*body height*/
/*avatar width in personal -> account*/
/*flex ad width*/
.crop-modal .avatar-crop {
  overflow: auto;
}
#adCoverCropModal .avatar-crop-img {
  overflow: auto;
}
#adCoverCropModal #modalCoverText {
  font-size: .9em;
  color: #878d95;
}
#modalPrivilegeActivate .priv-modal-block {
  color: #5d5c64;
}
#modalPrivilegeActivate .priv-modal-block #selectColorTitle {
  color: #7d8389;
  font-weight: 800;
}
#modalPrivilegeActivate .priv-comment {
  color: #838289;
  font-size: .95em;
}
#modalPrivilegeActivate .priv-sum {
  padding-bottom: 1em;
}
#modalPrivilegeActivate .priv-sum label {
  color: #7d8389;
}
#modalPrivilegeActivate .priv-sum input {
  width: 9em;
}
#modalPrivilegeActivate .priv-colors {
  padding-bottom: 1em;
}
#modalPrivilegeActivate .priv-colors .color-label {
  margin: 0 .25em;
  padding: 1.1em;
  font-size: .9em;
  color: #7d8389;
  border: .1em solid white;
  border-radius: 2em;
}
.account-row {
  margin-top: 4vh;
}
.account-row .my-menu-list-1 {
  background: none;
}
.account-row .my-menu-list-1 .navbar-header button {
  background: #3870a9;
}
.account-row .my-menu-list-1 .navbar-collapse {
  padding: 0 .26em;
}
.account-row .my-menu-list-1 .navbar-collapse .list-group {
  background: white;
  box-shadow: 0 2px 4px 0 #b3b3b3, 0 1px 4px 0 #ababab;
}
.account-row .my-menu-list-1 .navbar-collapse .list-group a {
  padding: 1em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  font-size: 1.05em;
}
.account-row .my-menu-list-1 .navbar-collapse .list-group a:hover {
  background: #d5e3f1;
  outline: 0;
}
.account-row .my-menu-list-1 .navbar-collapse .list-group .active {
  background: #3870a9;
}
.account-row .my-menu-list-1 .navbar-collapse .list-group .active:hover {
  background: #3e7dbc;
}
.account-row .account-personal .user-avatar {
  position: relative;
}
.account-row .account-personal .user-avatar .user-avatar-img {
  width: 23em;
  max-width: 90vw;
}
.account-row .account-personal .user-avatar .user-avatar-img img {
  width: 23em;
  max-width: 90vw;
  overflow: hidden;
}
.account-row .account-personal .user-avatar #avatarControlButtons {
  width: 23em;
  max-width: 90vw;
  height: 7.5em;
  background: black;
  position: absolute;
  opacity: .6;
  bottom: 1.5em;
  border-radius: .25em .25em 0 0;
  display: none;
}
.account-row .account-personal .user-avatar #avatarControlButtons #fileUploadAvatar {
  padding-top: 1.5em;
}
.account-row .account-personal .user-avatar #avatarControlButtons .avatar-control-buttons {
  color: white;
  text-decoration: none;
  cursor: pointer;
}
.account-row .account-personal .account-block-1 {
  border-left: 0.39em solid #b9e4d6;
  padding: .5em 1.8em 1em 1.8em;
  margin-top: 3.2em;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 4px 0 #b3b3b3, 0 1px 4px 0 #ababab;
}
.account-row .account-personal .account-block-1 .my-input-width {
  width: 25vw;
  min-width: 15em;
}
.account-row .account-personal .account-block-1 .block-title {
  padding: .5em 0;
  font-weight: 600;
  color: #656662;
}
.account-row .account-personal .account-block-1 .input-title-label {
  color: #2ec17b;
}
.account-row .account-personal .account-block-1 .checkbox label {
  padding-right: 1em;
}
.account-row .account-personal .account-block-2 {
  border-left: 0.39em solid #b9e4d6;
  padding: .5em 1.8em 1em 1.8em;
  margin-top: 3.2em;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 4px 0 #b3b3b3, 0 1px 4px 0 #ababab;
  border-left: 0.39em solid #fcffac;
}
.account-row .account-personal .account-block-2 .my-input-width {
  width: 25vw;
  min-width: 15em;
}
.account-row .account-personal .account-block-2 .block-title {
  padding: .5em 0;
  font-weight: 600;
  color: #656662;
}
.account-row .account-personal .account-block-2 .input-title-label {
  color: #2ec17b;
}
.account-row .account-personal .account-block-2 .checkbox label {
  padding-right: 1em;
}
.account-row .account-personal .account-block-2 .input-title-label {
  color: #dcb63b;
}
.account-row .account-personal .account-block-3 {
  border-left: 0.39em solid #b9e4d6;
  padding: .5em 1.8em 1em 1.8em;
  margin-top: 3.2em;
  overflow: hidden;
  background: white;
  box-shadow: 0 2px 4px 0 #b3b3b3, 0 1px 4px 0 #ababab;
  border-left: 0.39em solid #b5bbfc;
}
.account-row .account-personal .account-block-3 .my-input-width {
  width: 25vw;
  min-width: 15em;
}
.account-row .account-personal .account-block-3 .block-title {
  padding: .5em 0;
  font-weight: 600;
  color: #656662;
}
.account-row .account-personal .account-block-3 .input-title-label {
  color: #2ec17b;
}
.account-row .account-personal .account-block-3 .checkbox label {
  padding-right: 1em;
}
.account-row .account-personal .account-block-3 .input-title-label {
  color: #6373e6;
}
.account-row .account-personal .save-btn {
  padding-top: 2em;
}
.account-row #accountAds {
  padding-bottom: 2em;
}
.account-row #accountAds a {
  cursor: pointer;
}
.account-row #accountAds #topInfoLine {
  padding: 0 1em;
}
.account-row #accountAds #topInfoLine ul #adsCount {
  color: #8a8b93;
  padding-top: 1em;
}
.account-row #accountAds #topInfoLine ul #adsCount #countNumber {
  font-weight: 600;
  font-size: 1.05em;
}
.account-row #accountAds #topInfoLine ul #createNew a {
  font-weight: 600;
}
.account-row #accountAds #noneAds {
  padding-top: 20vh;
  padding-bottom: 5em;
  font-size: 1.3em;
  font-weight: 600;
  color: #a8a8b5;
}
.account-row #accountDonate {
  padding-right: 2em;
}
.account-row #accountDonate .block-shadow-1 {
  background: white;
  box-shadow: 0 2px 4px 0 #b3b3b3, 0 1px 4px 0 #ababab;
}
.account-row #accountDonate .row {
  margin-bottom: 1.5em;
}
.account-row #accountDonate .donate-title {
  font-family: 'Andika', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  color: #69666a;
}
.account-row #accountDonate .payment-title {
  font-family: 'Andika', sans-serif;
  font-weight: 600;
  font-size: 1.3em;
  color: #69666a;
}
.account-row #accountDonate #donateBalance {
  font-size: 1.8em;
  font-weight: 600;
  color: #e84520;
  padding-top: .2em;
}
.account-row #accountDonate #paymentRobokassa label {
  color: #7d8389;
}
.account-row #accountDonate #paymentRobokassa input {
  width: 13em;
}
.account-row #accountDonate #paymentRobokassa .form-group {
  margin-top: 0;
}
.account-row #accountDonate #paymentRobokassa #paymentSaleBtn {
  background: none;
  border: 0.1em solid #39d944;
  color: #39d944;
}
.account-row #accountDonate #paymentRobokassa #paymentSaleBtn:hover {
  background: #39d944;
  color: white;
}
.account-row #accountDonate #paymentRobokassa #paymentSum {
  max-width: 50vw;
}
.account-row #accountDonate .goods-table .good-sum {
  font-size: 1.1em;
  font-weight: 600;
  color: #666666;
  font-family: 'Ubuntu Condensed', sans-serif;
}
.account-row #accountDonate #goodsActivateBtn {
  margin-bottom: 2em;
}
.ad-blocks {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.ad-blocks .ad-block {
  flex: 1 1 210px;
  box-shadow: 0 4px 4px -1px #a4a4a4;
  margin: 0 .5em 2em .5em;
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  -webkit-justify-content: space-around;
}
.ad-blocks .ad-block .ad-image {
  padding: .6em;
  background: white;
  flex: 1 1 115px;
}
.ad-blocks .ad-block .ad-image .ad-img {
  display: block;
  width: 100%;
  height: 0;
  padding-bottom: 80%;
  border: .1em solid #EEEEEE;
}
.ad-blocks .ad-block .ad-body {
  padding: 0 .75em;
  background: white;
  flex: 1 1 200px;
}
.ad-blocks .ad-block .ad-body p {
  font-weight: 600;
}
.ad-blocks .ad-block .ad-body a {
  color: #5d6166;
  font-weight: 600;
}
.ad-blocks .ad-block .ad-body a:hover {
  color: #0275a8;
}
.ad-blocks .ad-block .ad-body .ad-id-status .ad-status-line {
  color: #03a9f4;
  font-size: .95em;
}
.ad-blocks .ad-block .ad-body .ad-id-status .ad-status-line:hover {
  color: #0275a8;
}
.ad-blocks .ad-block .ad-body .ad-id-status .ad-info {
  cursor: pointer;
  font-weight: 600;
}
.ad-blocks .ad-block .ad-body .ad-id-status .ad-info #adStatus:hover .dropdown-menu {
  display: block;
  width: 212.6px;
  background: rgba(101, 101, 101, 0.9);
  border: medium none;
  border-radius: 2px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  color: #ececec;
  font-size: .95em;
}
.ad-blocks .ad-block .ad-body .ad-id-status .ad-info #adStatus:hover .dropdown-menu ul {
  padding: .5em 1em 0 1em;
  line-height: 1.45em;
}
.ad-blocks .ad-block .ad-body .ad-street {
  margin: .2em 0 .39em 0;
}
.ad-blocks .ad-block .ad-body .ad-address {
  margin: 0;
}
.ad-blocks .ad-block .ad-body .ad-price .ad-price-sum {
  font-size: 1.3em;
  color: #f44336;
}
.ad-blocks .ad-block .ad-footer {
  border-top: 0.1em solid #03a9f4;
}
.ad-blocks .ad-block .ad-footer .footer-dd {
  padding: .26em 0;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-toggle {
  padding: 0;
  color: #03a9f4;
  font-weight: 600;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-menu {
  border: .26em double #d6d5e8;
  background: #eef1ff;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-menu li a {
  color: #5d6166;
  padding: .5em .75em;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-menu li a:hover {
  background: rgba(186, 247, 255, 0.35);
  color: #0275a8;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-menu .dd-submenu .dd-submenu-arrow {
  opacity: .4;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-menu .dd-submenu .dd-submenu-list {
  padding-left: .75em;
  display: none;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-menu .dd-submenu .dd-submenu-list li {
  padding: .39em 0;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-menu .dd-submenu .dd-submenu-list li a {
  font-size: 1em;
  text-decoration: none;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-menu .dd-submenu .dd-submenu-list li a i {
  opacity: .4;
}
.ad-blocks .ad-block .ad-footer .footer-dd .dropdown-menu .dd-submenu .dd-submenu-list li:hover {
  background: rgba(186, 247, 255, 0.35);
  color: #0275a8;
}
.ad-blocks .ad-block:empty {
  height: 0;
  border: none;
}
