@import "collection/variables";
@import "collection/mixins";

.crop-modal {
    .avatar-crop {
        overflow: auto;
    }
}

#adCoverCropModal {
    .avatar-crop-img {
        overflow: auto;
    }
    #modalCoverText {
        font-size: .9em;
        color: #878d95;
    }
}

#modalPrivilegeActivate {
    .priv-modal-block {
        color: #5d5c64;
        #selectColorTitle {
            color: @text_gray_color;
            font-weight: 800;
        }
    }
    .priv-comment {
        color: #838289;
        font-size: .95em;
    }
    .priv-sum {
        label {
            color: @text_gray_color;
        }
        padding-bottom: 1em;
        input {
            width: 9em;
        }
    }

    .priv-colors {
        padding-bottom: 1em;
        .color-label {
            margin: 0 .25em;
            padding: 1.1em;
            font-size: .9em;
            color: @text_gray_color;
            border: .1em solid white;
            border-radius: 2em;
        }
    }
}

.account-row {
    margin-top: 4vh;
    .my-menu-list-1 {
        background: none;
        .navbar-header {
            button {
                background: @header_color;
            }
        }
        .navbar-collapse {
            padding: 0 .26em;
            .list-group {
                background: white;
                box-shadow: @box_shadow_1;
                a {
                    padding: 1em;
                    font-family: 'Exo 2', sans-serif;
                    font-weight: 600;
                    font-size: 1.05em;
                    &:hover {
                        background: lighten(@header_color, 45%);
                        outline: 0;
                    }
                }
                .active {
                    background: @header_color;
                    &:hover {
                        background: lighten(@header_color, 5%);
                    }
                }
            }
        }
    }
    .account-personal {
        .user-avatar {
            position: relative;
            .user-avatar-img {
                .image_width_max_width(@account_avatar_size, 90vw);
                img {
                    .image_width_max_width(@account_avatar_size, 90vw);
                    overflow: hidden;
                }
            }
            #avatarControlButtons {
                .image_width_max_width(@account_avatar_size, 90vw);
                height: 7.5em;
                background: black;
                position: absolute;
                opacity: .6;
                bottom: 1.5em;
                border-radius: .25em .25em 0 0;
                display: none;
                #fileUploadAvatar {
                    padding-top: 1.5em;
                }
                .avatar-control-buttons {
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                }
            }
        }
        .account-block-1 {
            .my-blockquote-border (.39em, #b9e4d6);
            padding: .5em 1.8em 1em 1.8em;
            margin-top: 3.2em;
            overflow: hidden;
            background: white;
            box-shadow: @box_shadow_1;
            .my-input-width {
                width: 25vw;
                min-width: 15em;
            }
            .block-title {
                padding: .5em 0;
                font-weight: 600;
                color: #656662;
            }
            .input-title-label {
                color: @input_label_color_1;
            }
            .checkbox {
                label {
                    padding-right: 1em;
                }
            }
        }
        .account-block-2 {
            .account-block-1;
            .my-blockquote-border (.39em, #fcffac);
            .input-title-label {
                color: @input_label_color_2;
            }
        }
        .account-block-3 {
            .account-block-1;
            .my-blockquote-border (.39em, #b5bbfc);
            .input-title-label {
                color: @input_label_color_3;
            }
        }
        .save-btn {
            padding-top: 2em;
        }
    }
    #accountAds {
        padding-bottom: 2em;
        a {
            cursor: pointer;
        }
        #topInfoLine {
            padding: 0 1em;
            ul {
                #adsCount {
                    color: #8a8b93;
                    padding-top: 1em;
                    #countNumber {
                        font-weight: 600;
                        font-size: 1.05em;
                    }
                }
                #createNew {
                    a {
                        font-weight: 600;
                    }
                }
            }
        }
        #noneAds {
            padding-top: 20vh;
            padding-bottom: 5em;
            font-size: 1.3em;
            font-weight: 600;
            color: #a8a8b5;
        }
    }
    #accountDonate {
        padding-right: 2em;
        .block-shadow-1 {
            background: white;
            box-shadow: @box_shadow_1;
        }
        .row {
            margin-bottom: 1.5em;
        }
        .donate-title {
            font-family: 'Andika', sans-serif;
            font-weight: 600;
            font-size: 1.3em;
            color: #69666a;
        }
        .payment-title {
            .donate-title;
        }
        #donateBalance {
            font-size: 1.8em;
            font-weight: 600;
            color: @red_text_for_sum;
            padding-top: .2em;
        }
        #paymentRobokassa {
            label {
                color: @text_gray_color;
            }
            input {
                width: 13em;
            }
            .form-group {
                margin-top: 0;
            }
            #paymentSaleBtn {
                background: none;
                border: .1em solid @color_0012;
                color: @color_0012;
                &:hover {
                    background: @color_0012;
                    color: white;
                }
            }
            #paymentSum {
                max-width: 50vw;
            }
        }
        .goods-table {
            .good-sum {
                font-size: 1.1em;
                font-weight: 600;
                color: #666666;
                font-family: 'Ubuntu Condensed', sans-serif;
            }
        }
        #goodsActivateBtn {
            margin-bottom: 2em;
        }
    }
    #accountBookmarks {
    }
}

.ad-blocks {
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    .ad-block {
        flex: 1 1 @ad_flex_width;
        box-shadow: @box_shadow_2;
        margin: 0 .5em 2em .5em;
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
        -webkit-flex-flow: row wrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        .ad-image {
            padding: .6em;
            background: white;

            flex: 1 1 115px;
            .ad-img {
                display: block;
                width: 100%;
                height: 0;
                padding-bottom: 80%;
                border: .1em solid #EEEEEE;
            }
        }
        .ad-body {
            padding: 0 .75em;
            background: white;

            flex: 1 1 200px;
            p {
                font-weight: 600;
            }
            a {
                color: @color_0006;
                font-weight: 600;
                &:hover {
                    color: darken(@color_0002, 15%);
                }
            }
            .ad-id-status {
                .ad-status-line {
                    color: @color_0002;
                    font-size: .95em;
                    &:hover {
                        color: darken(@color_0002, 15%);
                    }
                }
                .ad-info {
                    cursor: pointer;
                    font-weight: 600;
                    #adStatus:hover .dropdown-menu {
                        display: block;
                        width: @ad_flex_width + 2.6em;
                        background: rgba(101, 101, 101, 0.9);
                        border: medium none;
                        border-radius: 2px;
                        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
                        color: #ececec;
                        font-size: .95em;
                        ul {
                            padding: .5em 1em 0 1em;
                            line-height: 1.45em;
                        }
                    }
                }
            }
            .ad-street {
                margin: .2em 0 .39em 0;
            }
            .ad-address {
                margin: 0;
            }
            .ad-price {
                .ad-price-sum {
                    font-size: 1.3em;
                    color: @color_0010;
                }
            }
        }
        .ad-footer {
            border-top: .1em solid @color_0002;
            .footer-dd {
                padding: .26em 0;
                .dropdown-toggle {
                    padding: 0;
                    color: @color_0002;
                    font-weight: 600;
                }
                .dropdown-menu {
                    border: .26em double #d6d5e8;
                    background: #eef1ff;
                    li {
                        a {
                            color: @color_0006;
                            padding: .5em .75em;
                            &:hover {
                                background: rgba(186, 247, 255, 0.35);
                                color: darken(@color_0002, 15%);
                            }
                        }
                    }
                    .dd-submenu {
                        .dd-submenu-arrow {
                            opacity: .4;
                        }
                        .dd-submenu-list {
                            padding-left: .75em;
                            display: none;
                            li {
                                padding: .39em 0;
                                a {
                                    font-size: 1em;
                                    text-decoration: none;
                                    i {
                                        opacity: .4;
                                    }
                                }
                                &:hover {
                                    background: rgba(186, 247, 255, 0.35);
                                    color: darken(@color_0002, 15%);
                                }
                            }
                        }
                    }
                }
            }
        }
        &:empty {
            height: 0;
            border: none;
        }
    }
}