/*COLORS*/
/*HEADER*/
/*BOX-SHADOWS*/
/*CONSTANTS*/
/*body height*/
/*avatar width in personal -> account*/
/*flex ad width*/
.auth-main-content {
  background: #e1e3ea;
}
.auth-main-content .auth-row {
  padding: 6vh 0;
}
.auth-main-content .auth-row .auth-title {
  font-size: 2.2em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  color: #5d6166;
  border-bottom: .1em solid #a6a6a6;
  word-wrap: break-word;
  padding: .75em 0 .26em 0;
}
.auth-main-content .auth-row .auth-title i {
  vertical-align: text-bottom;
  font-size: 1.1em;
}
.auth-main-content .auth-row .auth-form {
  overflow: hidden;
  background: white;
  border-radius: .26em;
  padding: 0 2em 1.5em 2em;
}
.auth-main-content .auth-row .auth-form .google-recaptcha {
  padding: .75em 0;
}
.auth-main-content .auth-row .auth-form .auth-btn button {
  width: 100%;
}
.auth-main-content .auth-row .auth-form .input-title-label {
  color: #2ec17b;
}
.auth-main-content .auth-row .auth-form .auth-checkbox {
  padding-top: .5em;
}
.auth-main-content .auth-row .auth-form .auth-checkbox span {
  color: #666666;
}
.auth-main-content .auth-row .auth-form #rulesAccepting {
  opacity: .75;
}
.auth-main-content .auth-row .auth-bottom-links {
  padding-top: .75em;
}
.register-complete {
  padding: 2vh 0 6vh 0;
}
.register-complete .page-title {
  font-size: 2.2em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  color: #5d6166;
  border-bottom: .1em solid #a6a6a6;
  word-wrap: break-word;
  padding: .75em 0 .26em 0;
  margin-bottom: 1em;
}
.register-complete .page-title i {
  vertical-align: text-bottom;
  font-size: 1.1em;
}
.register-complete .page-list {
  font-size: .9em;
  padding-top: 1.3em;
  color: #6a6a6a;
}
.register-complete .email-list {
  font-size: 1.1em;
  font-weight: 600;
}
.register-not-complete {
  padding: 2vh 0 6vh 0;
}
.register-not-complete .page-title {
  font-size: 2.2em;
  font-family: 'Exo 2', sans-serif;
  font-weight: 600;
  color: #5d6166;
  border-bottom: .1em solid #a6a6a6;
  word-wrap: break-word;
  padding: .75em 0 .26em 0;
  margin-bottom: 1em;
}
.register-not-complete .page-title i {
  vertical-align: text-bottom;
  font-size: 1.1em;
}
.register-not-complete .page-list {
  font-size: .9em;
  padding-top: 1.3em;
  color: #6a6a6a;
}
.register-not-complete .email-list {
  font-size: 1.1em;
  font-weight: 600;
}
.register-not-complete .show-form {
  font-size: 1.1em;
  font-weight: 600;
}
.register-not-complete #reSendForm {
  display: none;
}
.register-not-complete .send-button {
  padding-top: 1em;
}
.remind-password #showPasswordRecoveryInstruction {
  font-size: 1.1em;
  font-weight: 600;
  padding-bottom: 1em;
}
.remind-password .remind-text {
  display: none;
  padding-bottom: 1.3em;
  color: #464646;
}
.password-reset .reset-btn {
  padding-top: 2em;
}
