@import "collection/variables";
@import "collection/mixins";

.auth-main-content {
    background: @grey_for_background;
    .auth-row {
        padding: 6vh 0;
        .auth-title {
            font-size: 2.2em;
            font-family: 'Exo 2', sans-serif;
            font-weight: 600;
            color: @color_0006;
            border-bottom: .1em solid #a6a6a6;
            word-wrap: break-word;
            padding: .75em 0 .26em 0;
            i {
                vertical-align: text-bottom;
                font-size: 1.1em;
            }
        }
        .auth-form {
            overflow: hidden;
            background: white;
            border-radius: .26em;
            padding: 0 2em 1.5em 2em;
            .google-recaptcha {
                padding: .75em 0;
            }
            .auth-btn {
                button {
                    width: 100%;
                }
            }
            .input-title-label {
                color: @input_label_color_1;
            }
            .auth-checkbox {
                padding-top: .5em;
                span {
                    color: #666666;
                }
            }
            #rulesAccepting {
                opacity: .75;
            }
        }
        .auth-bottom-links {
            padding-top: .75em;
        }
    }
}

.register-complete {
    padding: 2vh 0 6vh 0;
    .page-title {
        .auth-main-content .auth-row .auth-title;
        margin-bottom: 1em;
    }
    .page-text {

    }
    .page-list {
        font-size: .9em;
        padding-top: 1.3em;
        color: #6a6a6a;
    }
    .email-list {
        font-size: 1.1em;
        font-weight: 600;
    }
}

.register-not-complete {
    .register-complete;
    .show-form {
        font-size: 1.1em;
        font-weight: 600;
    }
    #reSendForm {
        display: none;
    }
    .send-button {
        padding-top: 1em;
    }
}

.remind-password {
    #showPasswordRecoveryInstruction {
        font-size: 1.1em;
        font-weight: 600;
        padding-bottom: 1em;
    }
    .remind-text {
        display: none;
        padding-bottom: 1.3em;
        color: #464646;
    }
}

.password-reset {
    .reset-btn {
        padding-top: 2em;
    }
}