/*COLORS*/
/*HEADER*/
/*BOX-SHADOWS*/
/*CONSTANTS*/
/*body height*/
/*avatar width in personal -> account*/
/*flex ad width*/
.section-header-pic {
  padding: 0;
}
.section-header-pic #headerCarousel #carousel-header .carousel-inner {
  height: calc(100vh - 4.25em - 1.5em);
}
.section-header-pic #headerCarousel #carousel-header .carousel-inner .item {
  height: inherit;
}
.section-header-pic #headerCarousel #carousel-header .carousel-inner .item img {
  height: inherit;
  width: 100vw;
}
.index-search-form {
  background: #7495B7;
}
.index-search-form #searchFormIndex {
  position: relative;
  min-height: 20em;
  padding: 0;
  margin: 0;
}
.index-search-form #searchFormIndex #searchBtnHeader {
  padding-left: 12%;
  position: absolute;
  top: -2em;
}
.index-search-form #searchFormIndex #searchBtnHeader #searchLink {
  font-weight: 600;
  background: #03a9f4;
  padding: 0;
  border: .1em solid white;
}
.index-search-form #searchFormIndex #searchBtnHeader #searchIcon {
  padding: .75em .75em .75em 1em;
  border-right: .1em solid white;
}
.index-search-form #searchFormIndex #searchBtnHeader #searchText {
  padding: .75em 1.5em .75em .75em;
}
.index-search-form #searchFormIndex #formFields {
  padding: 1.3em;
}
.index-search-form #searchFormIndex #formFields select,
.index-search-form #searchFormIndex #formFields input {
  color: white;
}
.index-search-form #searchFormIndex #formFields select option,
.index-search-form #searchFormIndex #formFields input option {
  color: #2e3436;
  background: white;
}
.index-search-form #searchFormIndex #formFields .popover-help {
  cursor: help;
}
.index-search-form #searchFormIndex #formFields .my-slider {
  padding-top: 1.45em;
}
/*SLICK BUTTONS PREV / NEXT*/
.slick-prev:before,
.slick-next:before {
  font-family: FontAwesome;
  color: #3870a9;
  opacity: .6;
}
.slick-prev:before {
  content: "\f137";
}
.slick-next:before {
  content: "\f138";
}
.index-ads-vip {
  background: #eeeeee;
}
.index-ads-vip #indexVipAds {
  margin: 0 2em;
}
.index-ads-vip #indexVipAds .ad-body {
  border: .2em solid #fd7a6b;
  border-radius: .26em;
  padding: 1em;
  margin: 3.1em .39em 1.4em .39em;
  background: #ffffff;
}
.index-ads-vip #indexVipAds .ad-body a {
  text-decoration: none;
}
.index-ads-vip #indexVipAds .ad-body:hover {
  background: #f6f6f6;
  border-color: #03a9f4;
  transform: scale(1.05, 1.08);
  -webkit-transition: ease-in-out 0.39s;
  -moz-transition: ease-in-out 0.39s;
  -o-transition: ease-in-out 0.39s;
  transition: ease-in-out 0.39s;
}
.index-ads-vip #indexVipAds .ad-body:hover .ad-text {
  color: #03a9f4;
  -webkit-transition: ease-in-out 0.39s;
  -moz-transition: ease-in-out 0.39s;
  -o-transition: ease-in-out 0.39s;
  transition: ease-in-out 0.39s;
}
.index-ads-vip #indexVipAds .ad-body:hover .ad-text .ad-price .ad-price-sum {
  color: #03a9f4;
  -webkit-transition: ease-in-out 0.39s;
  -moz-transition: ease-in-out 0.39s;
  -o-transition: ease-in-out 0.39s;
  transition: ease-in-out 0.39s;
}
.index-ads-vip #indexVipAds .ad-body .ad-img {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
}
.index-ads-vip #indexVipAds .ad-body .ad-text {
  padding-top: .75em;
  color: #5d6166;
}
.index-ads-vip #indexVipAds .ad-body .ad-text p {
  line-height: 1em;
}
.index-ads-vip #indexVipAds .ad-body .ad-text .ad-city {
  font-weight: 600;
}
.index-ads-vip #indexVipAds .ad-body .ad-text .ad-address {
  margin-bottom: .44em;
}
.index-ads-vip #indexVipAds .ad-body .ad-text .ad-price {
  font-weight: 600;
}
.index-ads-vip #indexVipAds .ad-body .ad-text .ad-price .ad-price-sum {
  color: #e95944;
  font-weight: 600;
  font-size: 1.3em;
}
.index-ads-last {
  background: #eeeeee;
}
.index-ads-last #indexVipAds {
  margin: 0 2em;
}
.index-ads-last #indexVipAds .ad-body {
  border: .2em solid #fd7a6b;
  border-radius: .26em;
  padding: 1em;
  margin: 3.1em .39em 1.4em .39em;
  background: #ffffff;
}
.index-ads-last #indexVipAds .ad-body a {
  text-decoration: none;
}
.index-ads-last #indexVipAds .ad-body:hover {
  background: #f6f6f6;
  border-color: #03a9f4;
  transform: scale(1.05, 1.08);
  -webkit-transition: ease-in-out 0.39s;
  -moz-transition: ease-in-out 0.39s;
  -o-transition: ease-in-out 0.39s;
  transition: ease-in-out 0.39s;
}
.index-ads-last #indexVipAds .ad-body:hover .ad-text {
  color: #03a9f4;
  -webkit-transition: ease-in-out 0.39s;
  -moz-transition: ease-in-out 0.39s;
  -o-transition: ease-in-out 0.39s;
  transition: ease-in-out 0.39s;
}
.index-ads-last #indexVipAds .ad-body:hover .ad-text .ad-price .ad-price-sum {
  color: #03a9f4;
  -webkit-transition: ease-in-out 0.39s;
  -moz-transition: ease-in-out 0.39s;
  -o-transition: ease-in-out 0.39s;
  transition: ease-in-out 0.39s;
}
.index-ads-last #indexVipAds .ad-body .ad-img {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
}
.index-ads-last #indexVipAds .ad-body .ad-text {
  padding-top: .75em;
  color: #5d6166;
}
.index-ads-last #indexVipAds .ad-body .ad-text p {
  line-height: 1em;
}
.index-ads-last #indexVipAds .ad-body .ad-text .ad-city {
  font-weight: 600;
}
.index-ads-last #indexVipAds .ad-body .ad-text .ad-address {
  margin-bottom: .44em;
}
.index-ads-last #indexVipAds .ad-body .ad-text .ad-price {
  font-weight: 600;
}
.index-ads-last #indexVipAds .ad-body .ad-text .ad-price .ad-price-sum {
  color: #e95944;
  font-weight: 600;
  font-size: 1.3em;
}
.index-ads-last #indexLastAds {
  margin: 0 2em;
}
.index-ads-last #indexLastAds .ad-body {
  border: .2em solid #fd7a6b;
  border-radius: .26em;
  padding: 1em;
  margin: 3.1em .39em 1.4em .39em;
  background: #ffffff;
}
.index-ads-last #indexLastAds .ad-body a {
  text-decoration: none;
}
.index-ads-last #indexLastAds .ad-body:hover {
  background: #f6f6f6;
  border-color: #03a9f4;
  transform: scale(1.05, 1.08);
  -webkit-transition: ease-in-out 0.39s;
  -moz-transition: ease-in-out 0.39s;
  -o-transition: ease-in-out 0.39s;
  transition: ease-in-out 0.39s;
}
.index-ads-last #indexLastAds .ad-body:hover .ad-text {
  color: #03a9f4;
  -webkit-transition: ease-in-out 0.39s;
  -moz-transition: ease-in-out 0.39s;
  -o-transition: ease-in-out 0.39s;
  transition: ease-in-out 0.39s;
}
.index-ads-last #indexLastAds .ad-body:hover .ad-text .ad-price .ad-price-sum {
  color: #03a9f4;
  -webkit-transition: ease-in-out 0.39s;
  -moz-transition: ease-in-out 0.39s;
  -o-transition: ease-in-out 0.39s;
  transition: ease-in-out 0.39s;
}
.index-ads-last #indexLastAds .ad-body .ad-img {
  width: 100%;
  height: 0;
  padding-bottom: 80%;
}
.index-ads-last #indexLastAds .ad-body .ad-text {
  padding-top: .75em;
  color: #5d6166;
}
.index-ads-last #indexLastAds .ad-body .ad-text p {
  line-height: 1em;
}
.index-ads-last #indexLastAds .ad-body .ad-text .ad-city {
  font-weight: 600;
}
.index-ads-last #indexLastAds .ad-body .ad-text .ad-address {
  margin-bottom: .44em;
}
.index-ads-last #indexLastAds .ad-body .ad-text .ad-price {
  font-weight: 600;
}
.index-ads-last #indexLastAds .ad-body .ad-text .ad-price .ad-price-sum {
  color: #e95944;
  font-weight: 600;
  font-size: 1.3em;
}
.index-ads-last #indexLastAds .ad-body {
  border-color: #b1b5b6;
  margin: 1.4em .39em 3.1em .39em;
}
.index-performance {
  background: #b1cfb3;
}
.index-performance #indexPerformance {
  margin: 2.5em 2em 0 2.5em;
}
.index-performance #indexPerformance img {
  width: 78%;
  margin: 5% calc((100% - 78%) / 2);
}
.index-performance #indexPerformance .index-performance {
  padding: 0 0 2.5em 0;
}
.index-performance #indexPerformance .index-performance .performance-text {
  font-family: 'Ubuntu Condensed', sans-serif;
  font-size: 2.3em;
  width: 78%;
  margin: 0 calc((100% - 78%) / 2);
  word-wrap: break-word;
  color: #50585f;
  font-weight: 500;
  line-height: 1.1em;
}
.index-performance #indexPerformance .index-performance:hover {
  transform: scale(1.05);
  -webkit-transition: ease-in-out 1s;
  -moz-transition: ease-in-out 1s;
  -o-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}
