@import "collection/variables";
@import "collection/mixins";

.section-header-pic {
    padding: 0;
    #headerCarousel {
        //padding-top: @section_content_padding_top;
        #carousel-header {
            .carousel-inner {
                height: @header_carousel_height;
                .item {
                    height: inherit;
                    img {
                        height: inherit;
                        width: 100vw;
                    }
                }
            }
        }
    }
}

.index-search-form {
    background: #7495B7;
    #searchFormIndex {
        position: relative;
        min-height: 20em;
        padding: 0;
        margin: 0;
        #searchBtnHeader {
            padding-left: 12%;
            position: absolute;
            top: -2em;
            #searchLink {
                font-weight: 600;
                background: @color_0002;
                padding: 0;
                border: .1em solid white;
            }
            #searchIcon {
                padding: .75em .75em .75em 1em;
                border-right: .1em solid white;
            }
            #searchText {
                padding: .75em 1.5em .75em .75em;
            }
        }
        #formFields {
            padding: 1.3em;
            select, input {
                color: white;
                option {
                    color: #2e3436;
                    background: white;
                }
            }
            .popover-help {
                cursor: help;
            }
            .my-slider {
                padding-top: 1.45em;
            }
        }
    }
}

/*SLICK BUTTONS PREV / NEXT*/
.slick-prev:before, .slick-next:before {
    font-family: FontAwesome;
    color: @header_color;
    opacity: .6;
}
.slick-prev:before {
    content: "\f137";
}
.slick-next:before {
    content: "\f138";
}

.index-ads-vip {
    background: @color_0004;
    #indexVipAds {
        margin: 0 2em;
        .ad-body {
            border: .2em solid #fd7a6b;
            border-radius: .26em;
            padding: 1em;
            margin: 3.1em .39em 1.4em .39em;
            background: #ffffff;
            a {
                text-decoration: none;
            }
            &:hover {
                background: #f6f6f6;
                border-color: @color_0002;
                transform: scale(1.05,1.08);
                .ad-text {
                    color: @color_0002;
                    .my-transition(ease-in-out, 0.39s);
                    .ad-price {
                        .ad-price-sum {
                            color: @color_0002;
                            .my-transition(ease-in-out, 0.39s);
                        }
                    }
                }
                .my-transition(ease-in-out, .39s);
            }
            .ad-img {
                width: 100%;
                height: 0;
                padding-bottom: 80%;
            }
            .ad-text {
                padding-top: .75em;
                color: @color_0006;
                p {
                    line-height: 1em;
                }
                .ad-city {
                    font-weight: 600;
                }
                .ad-address {
                    margin-bottom: .44em;
                }
                .ad-price {
                    font-weight: 600;
                    .ad-price-sum {
                        color: #e95944;
                        font-weight: 600;
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}

.index-ads-last {
    .index-ads-vip;
    #indexLastAds {
        .index-ads-vip #indexVipAds;
        .ad-body {
            border-color: #b1b5b6;
            margin: 1.4em .39em 3.1em .39em;
        }
    }
}

.index-performance {
    background: #b1cfb3;
    #indexPerformance {
        margin: 2.5em 2em 0 2.5em;
        img {
            width: @header_performance_width;
            margin: 5% @header_performance_width_margin;
        }
        .index-performance {
            padding: 0 0 2.5em 0;
            .performance-text {
                font-family: 'Ubuntu Condensed', sans-serif;
                font-size: 2.3em;
                width: @header_performance_width;
                margin: 0 @header_performance_width_margin;
                word-wrap: break-word;
                color: #50585f;
                font-weight: 500;
                line-height: 1.1em;
            }
            &:hover {
                transform: scale(1.05);
                .my-transition(ease-in-out, 1s);
            }
        }
    }
}