@import "collection/variables";
@import "collection/mixins";

body {
    font-family: 'Open Sans', sans-serif;
}

/* =============================================================================
   ALERTS / POPOVER / TOOLTIP / ERRORS-BOTH
============================================================================= */

.alerts-top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    float: none;
    font-family: 'Marmelad', sans-serif;
    font-size: 1.1em;
    .alert-dismissable .close, .alert-dismissible .close {
        font-family: 'Times New Roman', serif;
        position: relative;
        top: -.25em;
        font-size: 2.8em;
        font-weight: 100;
        opacity: .45;
    }
    .alert-success {
        padding-top: 1.4em;
        padding-bottom: 1.4em;
        background: @color_0011;
    }
    .alert-danger {
        padding-top: 1.4em;
        padding-bottom: 1.4em;
        background: @color_0010;
    }
    p {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-weight: bolder;
        font-size: 1em;
        color: #ffffff;
    }
}

/*ALERT CORNER*/
#adUpError {
    display: none;
    position: fixed;
    right: 1.5em;
    top: 6em;
    width: 26em;
    max-width: 80vw;
    min-height: 5em;
    z-index: 999999;
    padding: 2em;
    line-height: 1.7em;
    border: .1em solid #c6c6c6;
    border-radius: .39em;
    #alertCornerText {
        color: #444444;
        font-weight: 600;
        margin-bottom: 0;
    }
    #alertCornerClose {
        position: absolute;
        right: .39em;
        top: .39em;
        font-size: 2em;
        font-weight: 100;
        color: #444444;
        &:hover {
            color: black;
            cursor: pointer;
        }
    }
}

.alertCornerAnimate-transition {
    transition: all .5s ease-in-out;
}

.alertCornerAnimate-enter, .alertCornerAnimate-leave {
    transition: all .13s ease-in-out;
    opacity: 0;
}

/*Bookmark Star*/
.bookmark-star-true {
    font-size: 2em;
    color: #fffa5c;
}

.bookmark-star-false {
    font-size: 2em;
    color: #9d9d9d;
}

/*Global section Content*/
.section-content {
    padding-top: @section_content_padding_top;
    min-height: @min-height;
}

/*Alert Error Validation*/
.global-alert-error {
    margin-top: 1.5em;
    font-family: 'Marmelad', sans-serif;
    background: @color_0009;
    .alert-error-title {
        font-size: 1.2em;
        font-weight: 600;
    }
}

/*Loading Font & Gif*/
#loadingProcessGif {
    z-index: 99999;
    position: fixed;
    display: none;
    #darkBackground {
        background: black;
        position: inherit;
        z-index: inherit;
        opacity: .4;
        width: 100%;
        height: 100%;
    }
    img {
        z-index: inherit;
        position: inherit;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50vw;
        max-width: 20em;
        opacity: 1;
    }
}

/*If Header List Open*/
.all-light-box {
    z-index: 8;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    background: #000000;
    opacity: .55;
    display: none;
}

/*TABLE FIX OVERFLOW AUTO*/
@-moz-document url-prefix() {
    fieldset {
        display: table-cell;
    }
}

/*=============================================================================
  HEADER
=============================================================================*/
#myHeader {
    .navbar {
        background: @header_color;
        padding: 0 .5em;
        min-height: 4.65em;
        #menuCollapseBtn {
            border: .1em solid white;
            margin-top: .85em;
            &:hover {
                background: white;
                color: @header_color;
            }
        }
        .navbar-brand {
            padding: 0;
            img {
                margin: .75em;
                height: 2em;
                &:hover {
                    transform: scale(1.05);
                    .my-transition(ease-in-out, .26s);
                }
            }
        }
        .header-notifications {
            #hideAllHeaderNotifications {
                a {
                    padding: .5em 0;
                    cursor: pointer;
                }
            }
            #headerNotificationCount {
                background: red;
                position: absolute;
                top: .9em;
                right: .6em;
            }
            .dropdown-menu {
                max-height: 60vh;
                min-width: 26em;
                overflow-y: auto;
                .list-notifications {
                    background: #f4f4f4;
                    color: @color_0006;
                    border: .1em solid #c7c7c7;
                    border-radius: .25em;
                    padding: .75em;
                    margin: .15em .25em;
                    img {
                        width: 4em;
                    }
                    .notification-delete {
                        color: #afafaf;
                        cursor: pointer;
                        &:hover {
                            color: #6a6a6a;
                        }
                    }
                    &:hover {
                        background: #e8f3ff;
                        .my-transition(ease-in-out, .26s);
                    }
                }
            }
            .media-body {
                font-family: Verdana, Helvetica, Tahoma, Lucida, Arial, 'Lucida Grande', sans-serif;
                .notification-url {
                    color: #1488dd;
                    &:hover {
                        color: white;
                    }
                }
            }
            #headers-none-notifications {
                padding: 1em 0;
                font-family: Verdana, Helvetica, Tahoma, Lucida, Arial, 'Lucida Grande', sans-serif;
                color: #a6a6a6;
            }
        }
        .material-icons {
            font-size: 1.2em;
        }
        .header-link {
            font-size: @header_link_font_size;
            font-weight: 600;
            border-bottom: @header_link_hover_border solid @header_color;
            padding: @header_link_padding_top @header_link_padding_right_left @header_link_padding_bottom @header_link_padding_right_left;
            &:hover {
                cursor: pointer;
                background: @header_color_light;
                color: @color_0001;
                border-bottom: @header_link_hover_border solid @color_0001;
                .my-transition(ease-in-out, 0.32s);
            }
        }
        .dropdown-menu {
            li {
                a {
                    font-size: @header_link_font_size;
                    font-weight: 600;
                    padding: 1.3em 1.5em;
                    &:hover {
                        background: @header_color;
                        color: @color_0001;
                    }
                    .locale-check {
                        position: relative;
                        left: 1.5em;
                        padding-right: 1.5em;
                    }
                }
            }
        }
        .open {
            .header-link {
                background: @header_color_light;
                color: @color_0001;
                border-bottom: @header_link_hover_border solid @color_0001;
            }
        }
    }
}

/*=============================================================================
  FOOTER
=============================================================================*/
.section-footer {
    background: @header_color;
    .footer-logo-name {
        padding: .5em 0 1.5em 0;
        img {
            height: 1.8em;
        }
    }
    .footer-logo-img {
        padding: 0 3.5em 1em 3.5em;
        float: left;
        img {
            height: 6.6em;
        }
    }
    .footer-list {
        color: white;
        ul li {
            padding-left: 2em;
            a {
                font-size: 1em;
                font-weight: 600;
                color: white;
            }
        }
    }
    .footer-privacy {
        padding-top: 1em;
        color: #d3dedf;
        font-size: .85em;
    }
}
/*=============================================================================
  PADDING MARGIN GLOBAL
=============================================================================*/
.no-padding-left {
    padding-left: 0;
}
.no-padding-right {
    padding-right: 0;
}
.nopadding {
    padding: 0;
    margin: 0;
}
/*=============================================================================
  ADS HORIZONTAL
=============================================================================*/
.ad-block {

}