/*COLORS*/
/*HEADER*/
/*BOX-SHADOWS*/
/*CONSTANTS*/
/*body height*/
/*avatar width in personal -> account*/
/*flex ad width*/
body {
  font-family: 'Open Sans', sans-serif;
}
/* =============================================================================
   ALERTS / POPOVER / TOOLTIP / ERRORS-BOTH
============================================================================= */
.alerts-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  float: none;
  font-family: 'Marmelad', sans-serif;
  font-size: 1.1em;
}
.alerts-top .alert-dismissable .close,
.alerts-top .alert-dismissible .close {
  font-family: 'Times New Roman', serif;
  position: relative;
  top: -0.25em;
  font-size: 2.8em;
  font-weight: 100;
  opacity: .45;
}
.alerts-top .alert-success {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  background: #4caf50;
}
.alerts-top .alert-danger {
  padding-top: 1.4em;
  padding-bottom: 1.4em;
  background: #f44336;
}
.alerts-top p {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 1em;
  color: #ffffff;
}
/*ALERT CORNER*/
#adUpError {
  display: none;
  position: fixed;
  right: 1.5em;
  top: 6em;
  width: 26em;
  max-width: 80vw;
  min-height: 5em;
  z-index: 999999;
  padding: 2em;
  line-height: 1.7em;
  border: .1em solid #c6c6c6;
  border-radius: .39em;
}
#adUpError #alertCornerText {
  color: #444444;
  font-weight: 600;
  margin-bottom: 0;
}
#adUpError #alertCornerClose {
  position: absolute;
  right: .39em;
  top: .39em;
  font-size: 2em;
  font-weight: 100;
  color: #444444;
}
#adUpError #alertCornerClose:hover {
  color: black;
  cursor: pointer;
}
.alertCornerAnimate-transition {
  transition: all 0.5s ease-in-out;
}
.alertCornerAnimate-enter,
.alertCornerAnimate-leave {
  transition: all 0.13s ease-in-out;
  opacity: 0;
}
/*Bookmark Star*/
.bookmark-star-true {
  font-size: 2em;
  color: #fffa5c;
}
.bookmark-star-false {
  font-size: 2em;
  color: #9d9d9d;
}
/*Global section Content*/
.section-content {
  padding-top: 4.25em;
  min-height: 75vh;
}
/*Alert Error Validation*/
.global-alert-error {
  margin-top: 1.5em;
  font-family: 'Marmelad', sans-serif;
  background: #ff5722;
}
.global-alert-error .alert-error-title {
  font-size: 1.2em;
  font-weight: 600;
}
/*Loading Font & Gif*/
#loadingProcessGif {
  z-index: 99999;
  position: fixed;
  display: none;
}
#loadingProcessGif #darkBackground {
  background: black;
  position: inherit;
  z-index: inherit;
  opacity: .4;
  width: 100%;
  height: 100%;
}
#loadingProcessGif img {
  z-index: inherit;
  position: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  max-width: 20em;
  opacity: 1;
}
/*If Header List Open*/
.all-light-box {
  z-index: 8;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #000000;
  opacity: .55;
  display: none;
}
/*TABLE FIX OVERFLOW AUTO*/
@-moz-document url-prefix() {
  fieldset {
    display: table-cell;
  }
}
/*=============================================================================
  HEADER
=============================================================================*/
#myHeader .navbar {
  background: #3870a9;
  padding: 0 .5em;
  min-height: 4.65em;
}
#myHeader .navbar #menuCollapseBtn {
  border: .1em solid white;
  margin-top: .85em;
}
#myHeader .navbar #menuCollapseBtn:hover {
  background: white;
  color: #3870a9;
}
#myHeader .navbar .navbar-brand {
  padding: 0;
}
#myHeader .navbar .navbar-brand img {
  margin: .75em;
  height: 2em;
}
#myHeader .navbar .navbar-brand img:hover {
  transform: scale(1.05);
  -webkit-transition: ease-in-out 0.26s;
  -moz-transition: ease-in-out 0.26s;
  -o-transition: ease-in-out 0.26s;
  transition: ease-in-out 0.26s;
}
#myHeader .navbar .header-notifications #hideAllHeaderNotifications a {
  padding: .5em 0;
  cursor: pointer;
}
#myHeader .navbar .header-notifications #headerNotificationCount {
  background: red;
  position: absolute;
  top: .9em;
  right: .6em;
}
#myHeader .navbar .header-notifications .dropdown-menu {
  max-height: 60vh;
  min-width: 26em;
  overflow-y: auto;
}
#myHeader .navbar .header-notifications .dropdown-menu .list-notifications {
  background: #f4f4f4;
  color: #5d6166;
  border: .1em solid #c7c7c7;
  border-radius: .25em;
  padding: .75em;
  margin: .15em .25em;
}
#myHeader .navbar .header-notifications .dropdown-menu .list-notifications img {
  width: 4em;
}
#myHeader .navbar .header-notifications .dropdown-menu .list-notifications .notification-delete {
  color: #afafaf;
  cursor: pointer;
}
#myHeader .navbar .header-notifications .dropdown-menu .list-notifications .notification-delete:hover {
  color: #6a6a6a;
}
#myHeader .navbar .header-notifications .dropdown-menu .list-notifications:hover {
  background: #e8f3ff;
  -webkit-transition: ease-in-out 0.26s;
  -moz-transition: ease-in-out 0.26s;
  -o-transition: ease-in-out 0.26s;
  transition: ease-in-out 0.26s;
}
#myHeader .navbar .header-notifications .media-body {
  font-family: Verdana, Helvetica, Tahoma, Lucida, Arial, 'Lucida Grande', sans-serif;
}
#myHeader .navbar .header-notifications .media-body .notification-url {
  color: #1488dd;
}
#myHeader .navbar .header-notifications .media-body .notification-url:hover {
  color: white;
}
#myHeader .navbar .header-notifications #headers-none-notifications {
  padding: 1em 0;
  font-family: Verdana, Helvetica, Tahoma, Lucida, Arial, 'Lucida Grande', sans-serif;
  color: #a6a6a6;
}
#myHeader .navbar .material-icons {
  font-size: 1.2em;
}
#myHeader .navbar .header-link {
  font-size: 1.05em;
  font-weight: 600;
  border-bottom: 0.4em solid #3870a9;
  padding: 1.6em 1.3em 1.2em 1.3em;
}
#myHeader .navbar .header-link:hover {
  cursor: pointer;
  background: #33669a;
  color: #e8e9ef;
  border-bottom: 0.4em solid #e8e9ef;
  -webkit-transition: ease-in-out 0.32s;
  -moz-transition: ease-in-out 0.32s;
  -o-transition: ease-in-out 0.32s;
  transition: ease-in-out 0.32s;
}
#myHeader .navbar .dropdown-menu li a {
  font-size: 1.05em;
  font-weight: 600;
  padding: 1.3em 1.5em;
}
#myHeader .navbar .dropdown-menu li a:hover {
  background: #3870a9;
  color: #e8e9ef;
}
#myHeader .navbar .dropdown-menu li a .locale-check {
  position: relative;
  left: 1.5em;
  padding-right: 1.5em;
}
#myHeader .navbar .open .header-link {
  background: #33669a;
  color: #e8e9ef;
  border-bottom: 0.4em solid #e8e9ef;
}
/*=============================================================================
  FOOTER
=============================================================================*/
.section-footer {
  background: #3870a9;
}
.section-footer .footer-logo-name {
  padding: .5em 0 1.5em 0;
}
.section-footer .footer-logo-name img {
  height: 1.8em;
}
.section-footer .footer-logo-img {
  padding: 0 3.5em 1em 3.5em;
  float: left;
}
.section-footer .footer-logo-img img {
  height: 6.6em;
}
.section-footer .footer-list {
  color: white;
}
.section-footer .footer-list ul li {
  padding-left: 2em;
}
.section-footer .footer-list ul li a {
  font-size: 1em;
  font-weight: 600;
  color: white;
}
.section-footer .footer-privacy {
  padding-top: 1em;
  color: #d3dedf;
  font-size: .85em;
}
/*=============================================================================
  PADDING MARGIN GLOBAL
=============================================================================*/
.no-padding-left {
  padding-left: 0;
}
.no-padding-right {
  padding-right: 0;
}
.nopadding {
  padding: 0;
  margin: 0;
}
/*=============================================================================
  ADS HORIZONTAL
=============================================================================*/
