/*COLORS*/
/*HEADER*/
/*BOX-SHADOWS*/
/*CONSTANTS*/
/*body height*/
/*avatar width in personal -> account*/
/*flex ad width*/
/* =======================================================================
   (min-width: 200px) and (max-width: 767px)
   ======================================================================= */
@media screen and (min-width: 200px) and (max-width: 767px) {
  .account-row {
    margin-top: 4vh;
  }
  .account-row .my-menu-list-1 .navbar-collapse {
    padding: 0 1em;
  }
}
/* =======================================================================
   (min-width: 200px) and (max-width: 374px)
   ======================================================================= */
@media screen and (min-width: 200px) and (max-width: 450px) {
  .ad-block .ad-body .media .media-left {
    display: block;
  }
  .ad-block .ad-body .media .ad-img {
    width: 80vw;
    height: 80vw;
    min-width: 70vw;
    min-height: 70vw;
    max-width: 90vw;
    max-height: 90vw;
  }
  #searchFormIndex #searchTitle {
    font-size: 1em;
  }
}
/* =======================================================================
   (min-width: 520px) and (max-width: 767px)
   ======================================================================= */
@media screen and (min-width: 520px) and (max-width: 767px) {
  #adsVipInRow .ad-body .ad-padding {
    height: 0;
    padding-bottom: 28%;
  }
  #adsVipInRow .ad-body .ad-padding .ad-img {
    margin-right: 1.5em;
    width: 26%;
    height: 0;
    padding-bottom: 26%;
    float: left;
  }
}
