@import "collection/variables";
@import "collection/mixins";

/* =======================================================================
   (min-width: 200px) and (max-width: 767px)
   ======================================================================= */
@media screen and (min-width: 200px) and (max-width: 767px) {
    .account-row {
        margin-top: 4vh;
        .my-menu-list-1 {
            .navbar-collapse {
                padding: 0 1em;
            }
        }
    }
}

/* =======================================================================
   (min-width: 200px) and (max-width: 374px)
   ======================================================================= */
@media screen and (min-width: 200px) and (max-width: 450px) {
    
    .ad-block {
        .ad-body {
            .media {
                .media-left {
                    display: block;
                }
                .ad-img {
                    .min-max-parameters(80vw, 70vw, 90vw);
                }
            }
        }
    }

    #searchFormIndex {
        #searchTitle {
            font-size: 1em;
        }
    }
}

/* =======================================================================
   (min-width: 520px) and (max-width: 767px)
   ======================================================================= */
@media screen and (min-width: 520px) and (max-width: 767px) {

    #adsVipInRow {
        .ad-body {
            .ad-padding {
                height: 0;
                padding-bottom: 28%;
                .ad-img {
                    margin-right: 1.5em;
                    width: 26%;
                    height: 0;
                    padding-bottom: 26%;
                    float: left;
                }
            }
        }
    }

}