@import "collection/variables";
@import "collection/mixins";

.my-modals {
    .modal-header {
        background: @grey_for_background;
        padding-top: 1.1em;
        .close-btn {
            position: relative;
            bottom: .16em;
            font-size: 3.2em;
            font-weight: 100;
        }
        .modal-title {
            font-size: 1.5em;
            color: #596167;
        }
    }
    .modal-body {
        .for-padding-top {
            padding-top: .75em;
        }
        .input-title {
            font-size: .95em;
            color: #6a6a6a;
        }
        .modal-text {
            font-size: .95em;
            color: #596167;
        }
    }
    .modal-footer {
        background: @grey_for_background;
        padding-bottom: 0;
    }
}