/*COLORS*/
/*HEADER*/
/*BOX-SHADOWS*/
/*CONSTANTS*/
/*body height*/
/*avatar width in personal -> account*/
/*flex ad width*/
.my-modals .modal-header {
  background: #e1e3ea;
  padding-top: 1.1em;
}
.my-modals .modal-header .close-btn {
  position: relative;
  bottom: .16em;
  font-size: 3.2em;
  font-weight: 100;
}
.my-modals .modal-header .modal-title {
  font-size: 1.5em;
  color: #596167;
}
.my-modals .modal-body .for-padding-top {
  padding-top: .75em;
}
.my-modals .modal-body .input-title {
  font-size: .95em;
  color: #6a6a6a;
}
.my-modals .modal-body .modal-text {
  font-size: .95em;
  color: #596167;
}
.my-modals .modal-footer {
  background: #e1e3ea;
  padding-bottom: 0;
}
