/*COLORS*/
/*HEADER*/
/*BOX-SHADOWS*/
/*CONSTANTS*/
/*body height*/
/*avatar width in personal -> account*/
/*flex ad width*/
.faq-rules-menu-row .support-title {
  color: #6d6966;
  margin: 0 0 .75em 0;
}
.second-menu a {
  cursor: pointer;
  border: .1em solid #b3d0ab;
  background: #ecffea;
}
.second-menu a:hover {
  background: #5cb85c;
  color: white;
}
