@import "collection/variables";
@import "collection/mixins";

.faq-rules-menu-row {
    .support-title {
        .title-page-color(#6d6966);
    }
}

.second-menu {
    a {
        cursor: pointer;
        border: .1em solid #b3d0ab;
        background: #ecffea;
        &:hover {
            background: #5cb85c;
            color: white;
        }
    }
}