@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?kv7wu6');
    src:    url('fonts/icomoon.eot?kv7wu6#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?kv7wu6') format('truetype'),
        url('fonts/icomoon.woff?kv7wu6') format('woff'),
        url('fonts/icomoon.svg?kv7wu6#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-login-1:before {
    content: "\e900";
}
.icon-login-2:before {
    content: "\e901";
}
.icon-register-1:before {
    content: "\e902";
}
.icon-register-2:before {
    content: "\e903";
}
.icon-exit-1:before {
    content: "\e904";
}
.icon-melito:before {
    content: "\e905";
}

