.my-transition(@type, @time) {
    -webkit-transition: @type @time;
    -moz-transition: @type @time;
    -o-transition: @type @time;
    transition: @type @time;
}

.my-rotate(@deg) {
    -moz-transform: rotate(@deg);
    -ms-transform: rotate(@deg);
    -webkit-transform: rotate(@deg);
    -o-transform: rotate(@deg);
    transform: rotate(@deg);
}

.title-page-color(@color) {
    color: @color;
    margin: 0 0 .75em 0;
}

.image_width_max_width(@width, @max_width) {
    width: @width;
    max-width: @max_width;
}

.my-blockquote-border(@border, @color) {
    border-left: @border solid @color;
}

.min-max-parameters(@width, @min, @max) {
    width: @width;
    height: @width;
    min-width: @min;
    min-height: @min;
    max-width: @max;
    max-height: @max;
}

.header-border-bottom(@size, @type, @color) {
    border-bottom: @size @type @color;
}

.ad-flex (@items, @margin:1em) {
    -webkit-flex: 1 1 (100% / @items) - @margin;
    flex: 1 1 (100% / @items) - @margin;
}