/*COLORS*/
@header_color: #3870a9;
//@header_color: #50a946;
@color_0001: #e8e9ef;
@color_0002: #03a9f4;
@color_0003: #e4e8e9;
@color_0004: #eeeeee;
@color_0005: #f37160;
@color_0006: #5d6166;
@color_0007: #376da5;
@color_0008: #66c069;
@color_0009: #ff5722;
@color_0010: #f44336;
@color_0011: #4caf50;
@color_0012: #39d944;
@input_label_color_1: #2ec17b;
@input_label_color_2: #dcb63b;
@input_label_color_3: #6373e6;
@grey_for_background: #e1e3ea;
@grey_for_background_2: #f2f2f9;
@text_gray_color: #7d8389;
@red_text_for_sum: #e84520;

/*HEADER*/
@header_logo_width: (@header_link_padding_top * 1.6);
@header_link_hover_border: .4em;

@header_link_font_size: 1.05em;
@header_link_padding_top: 1.6em;
@header_link_padding_right_left: 1.3em;
@header_link_padding_bottom: @header_link_padding_top - @header_link_hover_border;
@header_height_sum: (@header_link_padding_top * 2) + @header_link_font_size;
@header_carousel_height: calc(~'100vh - @{header_height_sum} - 1.5em');
@header_color_light: darken(@header_color, 4%);
@header_performance_width: 78%;
@header_performance_width_margin: calc(~'(100% - @{header_performance_width}) / 2');
@section_content_padding_top: @header_height_sum;

/*BOX-SHADOWS*/
@box_shadow_1: 0 2px 4px 0 #b3b3b3, 0 1px 4px 0 #ababab;
@box_shadow_2: 0 4px 4px -1px #a4a4a4;

/*CONSTANTS*/
@min-height: 75vh; /*body height*/
@account_avatar_size: 23em; /*avatar width in personal -> account*/
@ad_flex_width: 210px; /*flex ad width*/

//@cccc: calc(~'@{aaaa} - @{bbbb}');

//@header_color: #3870a9; ACTUAL
//$header_color1: #3e6496;
//$header_color2: #2574a9;
//$header_color3: #5779a4;