.select2-container--default .select2-selection--single {
    background-color: unset;
    margin-top: .65em;
    border: 1px solid #ccc;
    border-radius: 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #ffffff;
    line-height: 25px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    display: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #ff5722;
}

