@import "collection/variables";
@import "collection/mixins";


/* =============================================================================
   ALERTS / POPOVER / TOOLTIP / ERRORS-BOTH
============================================================================= */
.popover, .tooltip {
  z-index: 100;
}
.popover {
  font-size: 0.9em;
  font-family: Arial, Verdana, Helvetica, Tahoma, Lucida, 'Lucida Grande', sans-serif;
  color: #656565;
  z-index: 9999;
}
.ui-autocomplete {
  max-height: 13em;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.3em;
  font-family: Verdana, Helvetica, Tahoma, Lucida, Arial, 'Lucida Grande', sans-serif;
  font-size: 0.91em;
}
.alerts-top {
  position: fixed;
  top: 0; left: 0; right: 0;
  z-index: 999999;
  float: none;
  padding-top: 0;
  padding-bottom: 0;
  .alert-success2 {
    background: #78d066;
    border-radius: 0;
  }
  .alert-error2 {
    background: #d7564b;
    border-radius: 0;
  }
  p {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 1em;
    color: #ffffff;
  }
  button {
    margin-top: -0.2%;
  }
}
/*=============================================================================
  ###########################################################################
=============================================================================*/

.all-home-tmp {
  .section-content {
    padding-top: 5em;
  }
  .section-header {
    padding: 0;
    .all-header {
      .all-header-line {
        z-index: 9;
        background: $header_color;
        .header-line-nav {
          width: 100%;
          padding-right: .75em;
          .header-line-btn-logo {
            float: left;
            a {
              &:hover {
                background: none;
              }
            }
            img {
              height: 2.8em;
            }
          }
          .header-line-btn {
            display: table-cell;
            .header-line-nav-link {
              @include my-transition(ease-in-out, 0.2s);
              font-family: Helvetica, Verdana, Arial, Lucida, Tahoma, 'Lucida Grande', sans-serif;
              font-size: 1em;
              color: #FFFFFF;
              padding: 1.42em;
              &:hover {
                color: $header_list_black;
                background: #FFFFFF;
              }
            }
            .dropdown-menu {
              a {
                @include my-transition(ease-in-out, 0.15s);
                cursor: pointer;
                padding: .85em 1em;
                font-family: Helvetica, Verdana, Arial, Lucida, Tahoma, 'Lucida Grande', sans-serif;
                font-size: 1em;
                &:hover {
                  background: #d6e0f3;
                }
              }
            }
          }
          .open {
            .header-line-nav-link {
              color: $header_list_black;
            }
          }
          .nav-notification-button, .nav-search-button, .nav-services-button, .nav-login-button {
            float: right;
          }
          .nav-lang-button {
            float: left;
            .header-lang-sel-locale {
              background: $header_color;
              a {
                color: #FFFFFF;
                &:hover {
                  background: #3c7cb8;
                }
              }
              i.fa {
                position: relative;
                left: 4.3em;
                color: #FFFFFF;
              }
            }
          }
        }
      }
    }
  }
  .row-header-pic {
    .section-header-pic {
      padding: 0;
      .all-header-pic {
        height: 35em;
        background: #ffb2ff;
        .header-pic-stats {
          padding-top: 5em;
          text-align: center;
          .stats-block-1 {
            display: inline-block;
            padding: 0 4em;
            h1 {
              font-family: 'Exo 2', sans-serif;
              font-weight: 900;
              font-size: 5.2em;
              color: #FFFFFF;
              margin-bottom: 0;
              text-shadow: -1px 0 #909ea1, 0 1px #909ea1, 1px 0 #909ea1, 0 -1px #909ea1;
              letter-spacing: .05em;
            }
            small {
              font-family: 'Comfortaa', cursive;
              font-size: 1.45em;
              color: #FFFFFF;
              font-weight: 900;
              letter-spacing: 1px;
            }
          }
        }
        .header-pic-btns {
          padding-top: 5em;
          text-align: center;
          a {
            padding: 0 4em;
            .header-pic-btn-1 {
              background: #0086FF;
              text-transform: uppercase;
              font-family: 'Open Sans', sans-serif;
              font-size: 1.2em;
              font-weight: 800;
              color: #FFFFFF;
              padding: .85em 3.1em;
              letter-spacing: 1px;
              border-radius: .26em;
              &:active {
                background: #0295ff;
              }
            }
            .header-pic-btn-2 {
              @extend .header-pic-btn-1;
              background: #FF9000;
              &:active {
                background: #ffa100;
              }
            }
          }
        }
      }
    }
  }
}

.all-light-box {
  z-index: 8;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background: #000000;
  opacity: .55;
  display: none;
}