@mixin my-transition($type,$time) {
  -webkit-transition: $type $time;
  -moz-transition: $type $time;
  -o-transition: $type $time;
  transition: $type $time;
}
@mixin my-rotate($deg) {
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -webkit-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}
